.main-menu{
    margin: 0;
    padding: 0;
    list-style: none;
    float: right;
}
.main-menu-item{
    display: inline-block;
    height: 50px;
    line-height: 50px;
}
.main-menu-item a {
    display: block;
    height: 50px;
    padding: 0px 15px;
}
.main-menu-item.active a{
    color: rgb(7, 7, 7);
}
.main-menu-item a:hover{
    background: red;
}
header{
    border-bottom:1px solid #ccc;
    background: rgb(179, 255, 0);
}
.main-logo img{
    max-height: 50px;
}
.slider img{
    max-width: 100%;
}
.small-article img{
    max-width: 100%;
}
.gray-cat img{
    max-width: 100%;
    filter: grayscale(100%);
}
.gray-cat img:hover{
    filter: grayscale(0%);
}
.spacing-row{
    padding: 10px 0px;
}
main{
    border-bottom: 1px solid #333;
}
.page-numbers{
    float: right;
}
.spacing-bottom{
    padding: 0px 0px 10px 0px;
}
.article1:visited, .article1:link{
    color: #333;
}
.article2:visited, .article2:link{
    color: #333;
}
.article3:visited, .article3:link{
    color: #333;
}
.chat-box input{
    width: 100%;
    height: 400px;
}
.username, .chat-box{
    font-weight: bold;
    color: #333;
}
.username label{
    margin-bottom: 0px;
}
.username input{
    width: 120px;
    margin-bottom: 0px;
}
.username textarea{
    height: 80px;
    width: 100%;
}
.comment-border{
    border: 1px solid #333;
    padding: 10px;
}
.col-xs-11, .col-xs-1{
    padding: 0px 5px;
}
.btn{
    width: 100%;
    text-align: center;
}
.tab-article img{
    max-width: 100%;
}
.tab-article{
    border: 1px solid #333;
    padding: 10px;
}
.tab{
    width: 10%;
}
#map{
    width: 100%;
    height: 100%;
}
.map-contacts{
    padding: 0px 10px 10px 0px;
}
.contacts{
    padding: 0px;
}
h5{
    font-weight: bold;
}
.reg-spacing{
    padding: 0px;
}
.checkbox{
    width: 230px;
}
.tab-img{
    width: 100%;
}
#map{
    height: 300px;
    width: 300px;
}
.breadcrumb{
    padding: 8px 0px;
}
.paging{
    list-style: none;
    float: right;
    margin: 0px;
    padding: 0px;
}
.paging li{
    float: left;
    margin: 0 5px;
    padding: 2px 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
.page-numbers{
    padding: 10px 0px;
}
hr{
    border-top: 1px solid rgb(10, 9, 9);
}
.chat-main-window{
    height: 400px;
    overflow-x: hidden;
    overflow-y: auto;
    border: 1px solid #ccc;
}
.chat-message{
    border-top: 1px solid #ccc;
    padding: 10px;
}
.chat-message:first-child{
    border-top: none;
}
.chat-message h5 em{
    color: #ccc;
    font-size: 12px;
    font-style: normal; 
}
.chat-message-form{
    padding: 10px;
    border-color: #ccc;
    border-style: solid;
    border-width: 0px 1px 1px 1px;
    overflow: hidden;
}
#chat-username-input{
    width: 300px;
}
#chat-send-message-button{
    margin-top: 40px;
}
html, body {
    height: 100%;
}
.header{
    height:auto;
}
.main{
    overflow: auto;
    padding-bottom: 20px;
}
.footer{
    position: relative;
    height: auto;
}
.form-group input, .form-group select{
    height: 34px;
    width: 230px;
    border: 1px solid #ccc;
    border-radius: 2px;
}
/* select{
    width: 174px;
} */
/* Valstu izvelnes platums */
/* .tab-buttons{
    border-radius: 1px;
/* . */

/* .form-group{
    width: 40%;
} */

/* form{
    display: block;
}
label{
    display: inline-block;
    max-width: 100%;
} 
ka uztaisit konkretu platumu pie konkretiem pix izmeriem?*/